h1 {
    background: linear-gradient(
        #640d0d,
        #e54140
    );
    padding: 20px;
}

body {
    text-align: center;
    background: #2a2a2a;
}

.container {
    float: left;

}

.container-2{
    width: 360px;
    float: right;
}

.container-3 {
    float: left;
    background-color: #2a2a2a;
    width: 70px;
}

.container-4 {
    float: left;
}

.container-5 {
    float: left;
    background-color:#2a2a2a;
    width: 80px;
}

.text {
color: pink;
padding: 100px 0px 0px 0px;
}

.text-2 {
    color: pink;
    padding: 100px 0px 0px 0px;
    padding-bottom: 0%;
}

.item-2 {
    float: right;
    color: white;
}

#inputField {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
.item {
    padding: 20px;
    color: black;
}

.button {
    background-color: #2a2a2a;
}

